.App{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-psd/tropical-green-leaves-background_24972-1942.jpg?w=1380&t=st=1679034864~exp=1679035464~hmac=792e67b0d70bc63d5b9225dc89f30283a8f2028e532a7a800578cc4748e7aaed');
  width: 100vw;
  height: 100vh;
}
.signup{
  background-color: transparent ;
  background-image: url('https://img.freepik.com/free-photo/colorful-powder-explosion-happy-holi-festival-colors-art-concept_90220-1170.jpg?size=626&ext=jpg&ga=GA1.1.1575526386.1679034065&semt=sph');
  border-radius: 1em;
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.con-div{
  background-color: transparent ;
  background-image: url('https://img.freepik.com/free-vector/background-design-with-mandalas-pattern_1308-70343.jpg?size=626&ext=jpg&ga=GA1.1.1575526386.1679034065&semt=sph');
  border-radius: .8em;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup > div >input{
  width: 40em;
  margin-top: 2em;
  height: 3em;
  border-radius: 0.5em;
  outline: none;
  border: none;
}
.con-div > div > input{
  width: 40em;
  margin-top: 2em;
  height: 3em;
  border-radius: 0.5em;
  outline: none;
  border: none;
  font-size: 1em;
}
.con-div > div > button{
  border-radius: .5em;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.signup >div > button{
  border-radius: .5em;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.con-div > div > button:hover{
  background-color: blue;
  color: white;
}
.signup > div > button:hover{
  background-color: blue;
  color: white;
}
.back{
  background-image: url('https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&ga=GA1.1.1575526386.1679034065&semt=sph');
  width: 100%;
  height: 100%;
  border-radius: .8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products{
  background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg&ga=GA1.2.1575526386.1679034065&semt=sph');
  width: 100vw;
  height: 100vh;
}
.dis{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.paginationBttns {
  list-style: none;
  display: flex;
  margin-top: 70px;
  margin-left: 23em;
}
.paginationBttns a{
  margin-left: 10px;
  border: 1px solid black;
  padding: 20px;
  background-color: blue;
  color:white;
  border-radius: 5px;
}
.paginationBttns a:hover{
  background-color: rgb(79, 230, 79);
  color: white;
  cursor: pointer;
}
.btn:hover{
  background-color:rgb(100, 100, 232);
  cursor: pointer;
}